/*------------------------------------
	Fonts
------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Tajawal|Vibes|Rakkas|El+Messiri|Reem+Kufi|Baloo+Bhaijaan|Lateef|Mada');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --swiper-theme-color: #da0b4e !important;
}

body {
    background: #f5f5f5;
    /*background: #f5f5f5 url("../img/Rose-Gold-Lines.png") center center;*/
    background-size: 30%;
    zoom: 90%;
}

.zoom110 {
    zoom: 110%;
}

.text-black {
    color: #000 !important;
}

html[lang=en] body,
html[lang=en] h1,
html[lang=en] h2,
html[lang=en] h3,
html[lang=en] h4,
html[lang=en] h5,
html[lang=en] h6,
html[lang=en] div,
html[lang=en] span,
html[lang=en] p,
html[lang=en] input,
html[lang=en] a {
    /*font-family: "Roboto", sans-serif !important;*/
}

html[lang=ar] body,
html[lang=ar] h1,
html[lang=ar] h2,
html[lang=ar] h3,
html[lang=ar] h4,
html[lang=ar] h5,
html[lang=ar] h6,
html[lang=ar] div,
html[lang=ar] span,
html[lang=ar] p,
html[lang=ar] input,
html[lang=ar] a {
    font-family: "Cairo", sans-serif !important;
}

html[lang=en] .fun_font {
    font-family: 'Bebas Neue', cursive !important;
}

html[lang=ar] .fun_font {
    font-family: "Cairo", cursive !important;
}

html[lang=ar] .direction {
    direction: rtl !important;
}

html[lang=ar] .direction-inverse {
    direction: ltr !important;
}

html[lang=ar] .nav-menu > li {
    display: inline-block;
    float: right;
    text-align: right;
}

html[lang=ar] .nav-header {
    float: right;
}

html[lang=ar] .nav-brand {
    margin-left: 1rem;
    margin-right: 0;
}

html[lang=ar] .submenu-indicator {
    float: left;
    margin-left: 0;
    margin-right: 6px;
}

html[lang=ar] .nav-dropdown > li {
    float: right;
    clear: both;
    position: relative;
    text-align: right;
}

html[lang=ar] .nav-dropdown .submenu-indicator {
    left: 15px;
    right: auto;
    transform: rotate(180deg);
}

html[lang=ar] .nav-menu > li > .nav-dropdown:before {
    right: 27px;
    left: auto;
}

html[lang=ar] .nav-dropdown .nav-dropdown {
    right: 100%;
    left: auto;
}

html[lang=ar] .nav-toggle {
    left: 0;
    right: auto;
}

html[lang=ar] .navigation-portrait .nav-menus-wrapper {
    right: -400px;
    left: auto;
}

html[lang=ar] .nav-menus-wrapper.nav-menus-wrapper-open {
    right: 0;
}

html[lang=ar] .btn.btn-modern span {
    margin-right: 20px;
    margin-left: -20px;
    transform: rotate(180deg);
}

html[lang=ar] .sup-form .btn {
    right: auto;
    left: 4px;
}

html[lang=ar] ul.cources_facts_list li {
    margin-right: 0;
    margin-left: 0.9rem;
}

html[lang=ar] ul.cources_facts_list li:last-child {
    /*margin-right: auto;*/
    /*margin-left: 0;*/
}

html[lang=ar] ul.cources_facts_list li:before {
    left: -10px;
    right: auto;
    border: 0;
    /*border-left: 0;*/
    /*border-right: 10px solid #eaedf3;*/
}

html[lang=ar] ul.cources_facts_list li:after {
    left: -5px;
    right: auto;
}

html[lang=ar] .ed_header_caption ul li, html[lang=ar] .edu_inline_info li {
    margin-left: 1.5rem;
    margin-right: auto;
}

html[lang=ar] .ed_header_caption ul li i, html[lang=ar] .edu_inline_info li i {
    margin-left: 7px;
    margin-right: auto;
    float: right;
    top: 3px;
    position: relative;
}

html[lang=ar] .cources_info_style3 ul li i {
    font-size: 14px;
    float: right;
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
    position: relative;
    top: 3px;
}

html[lang=ar] .ed_author .ed_author_thumb {
    margin-left: 10px;
    margin-right: 0;
}

html[lang=ar] ul.edu_list li i {
    margin-left: 7px;
    margin-right: 0;
}

html[lang=ar] ul.edu_list.right li strong {
    float: left;
    margin-right: 1rem;
    margin-left: 0;
    direction: ltr;
}

html[lang=ar] .collapsible-link::before {
    left: 1rem;
    right: auto;
}

html[lang=ar] .collapsible-link::after {
    right: auto;
    left: calc(1rem + 6px);
}

html[lang=ar] ul.lectures_lists li:before {
    left: 15px;
    right: auto;
}

html[lang=ar] ul.lectures_lists li.unview:before {
    left: 15px;
    right: auto;
}

html[lang=ar] ul.lectures_lists {
    text-align: right;
    /*direction: ltr;*/
}

html[lang=ar] .lectures_lists_title {
    margin-left: 2rem;
    margin-right: 0;
}

html[lang=ar] a {
    text-decoration: none !important;
}

html[lang=ar] .card {
    /*box-shadow: none;*/
    border: 0;
}

html[lang=ar] .card-body {
    padding: 0 !important;
}

html[lang=ar] .ed_view_link .enroll-btn i {
    margin-left: 0;
    margin-right: 1rem;
    transform: rotate(180deg);
}

html[lang=ar] .checkbox-custom + .checkbox-custom-label:before {
    margin-left: 10px;
    margin-right: 0;
}

html[lang=ar] .btn.arrow-btn.filter_open span {
    margin-right: 28px;
    margin-left: 0;
}

html[lang=ar] .btn.arrow-btn.filter_open span i {
    transform: rotate(180deg)
}

html[lang=ar] .vue-notification {
    text-align: right;
}

.vue-notification.error {
    background: #da0b4e;
}

html[lang=ar] .vue-notification .vue-notification.error {
    background: #da0b4e;
    border-right-color: #da0b4e;
    border-left-color: transparent;
}

.vue-notification .notification-title {
    font-size: 18px;
}

.vue-notification .notification-content {
    font-size: 15px;
}


html[lang=ar] .slick-next,
html[lang=ar].slick-prev {
    right: auto;
}

html[lang=ar] .slick-next {
    right: auto;
    left: 60px;
}

html[lang=ar] .slick-prev {
    right: auto;
    left: 10px;
}

html[lang=ar] .rotate_y_180_ar {
    transform: rotateY(180deg);
}

html[lang=ar] .d-navigation ul li a i {
    margin-right: 0;
    margin-left: 10px;
    margin-top: 4px;
    float: right;
}

html[lang=ar] .breadcrumb-item {
    float: right;
}

.navigation-portrait .submenu-indicator {
    width: 100%;
}

.navigation-portrait .submenu-indicator-chevron {
    right: 24px;
    left: auto;
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotateX(180deg);
}

html[lang=ar] .navigation-portrait .submenu-indicator-chevron {
    /*display: none;*/
    right: auto;
    left: 24px;
}

html[lang=ar] [type="radio"]:checked + label:before,
html[lang=ar] [type="radio"]:not(:checked) + label:before {
    /*display: none;*/
    right: 0;
    left: auto;
}

html[lang=ar] [type="radio"]:checked + label,
html[lang=ar] [type="radio"]:not(:checked) + label {
    padding-right: 28px;
    padding-left: 0;
}

html[lang=ar] [type="radio"]:checked + label:after,
html[lang=ar] [type="radio"]:not(:checked) + label:after {
    /*display: none;*/
    left: auto;
    right: 3px;
}


/*slider*/
.home_slider {
    min-height: 100vh;
    background: #ecdada;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.home_slider .item_text {
    padding-top: 120px;
}

.home_slider .slideImage {
    width: 100%;
}

.home_slider .imageContainer {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .home_slider .item_text {
        padding-top: 0;
    }

    .home_slider .imageContainer {
        min-height: 500px;
        margin-bottom: 100px;
    }

    .home_slider .slideImage {
        width: 70%;
        margin: auto;
    }
}

/*slider arrows*/
.home_slider .controller {
    position: absolute;
    width: 100%;
    top: 40%;
    transition: all 0.5s ease-in-out;
}

.controller .arrows {
    position: absolute;
    width: 35px;
    height: 120px;
    background: #fff;
    text-align: center;
    line-height: 120px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.pointer {
    cursor: pointer!important;
}

.controller .arrows i {
    font-size: 15px;
}

.controller .arrows_right {
    right: -35px;
}

.controller .arrows_left {
    left: -35px;
}

.home_slider:hover .controller .arrows_left {
    left: 0;
}

.home_slider:hover .controller .arrows_right {
    right: 0;
}


/*slider collection */
.home_slider .new_collection {
    position: absolute;
    bottom: 12px;
    right: 0;
    background: #fff;
    color: #000;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

.home_slider:hover .border_collection {
    top: -30px;
    left: -15px;
}

.home_slider:hover .new_collection {
    background: #000;
    color: #fff;
}

.new_collection .border_collection {
    position: absolute;
    width: 85px;
    height: 85px;
    transition: all 0.5s ease-in-out;
    border: 4px solid #da0b4e !important;
    top: -15px;
    left: -30px;
    z-index: -1;
}

/*slider content*/
.slider_main_title {
    font-size: 50px;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #072334;
}

.slider_main_title2 {
    font-size: 50px;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #e02020;
}

.slider_main_paragraph {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
}

/*slider progress*/
.bg-black {
    background: #000 !important;
}

.slider_pagination {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 300px;
}

.slider_pagination .progress_image {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #d2b3fd;
}

/*************************/
/* section category content */
.rotate_90 {
    transform: rotateZ(90deg);
}

.scroll_bottom {
    padding-top: 150px;
    /**/
    width: 300px;
}

.category_item .category_name {
    padding: 25px 25px 0 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*collections*/

.collection_title {
    font-size: 40px;
    letter-spacing: 1px;
    color: #000;
    margin-top: 40px;
}

.view_more_after:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #e66300;
    bottom: 10px;
    margin: 0 15px 0 15px;
}

.view_more_before:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    right: 70px;
    background: #e66300;
    bottom: 10px;
    margin: 0 15px 0 15px;
}

.relative {
    position: relative;
}

.collection_slide {
    min-height: 400px;
}

.hooper-next:focus, .hooper-prev:focus {
    outline: 0;
}

.hooper-next, .hooper-prev {
    top: 88% !important;
    background: #fff !important;
}

.black_navigation .hooper-next,
.black_navigation .hooper-prev {
    top: 50% !important;
    background: #ccc !important;
    opacity: 0.5;
}

/*show item*/
.zoomImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroller-at-left .preview-box {
    width: 100%;
    background: #fff;
}

.scroller-at-left .thumb-list {
    margin-right: 10px;
}

.zoomer-control {
    width: 40px !important;
    height: 40px !important;
    visibility: hidden;
}

.zoomImage {
    position: relative;
}

.zoomImage .discount {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #da0b4e;
    color: #fff;
    padding: 5px;
    right: 10px;
    top: 10px;
    z-index: 9;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

/*search*/
.search_background {
    background: #bae7c2;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity-50 {
    opacity: 0.7;
}

.grid_list a.active {
    color: #e66300;
}

.bg-filter {
    background-color: #e66300;
}

.thumb-list {
    max-height: 400px;
}

.border-shadow {
    border: 1px solid #ccc;
    box-shadow: 1px 2px 15px #ccc;
}

.vue-slider-dot-handle {
    background-color: #fff !important;
    box-shadow: 1px 2px 15px #aaa;
}

.border-1-gray {
    border: 1px solid #aaa;
}

.size-10 {
    font-size: 7px;
}

.vue-slider-rail {
    background-color: #eee !important;
}

.vue-slider-process {
    background-color: #000 !important;
}

.color-choose div {
    display: inline-block;
    padding-right: 5px;
}

.color-choose input[type="radio"]:before,
.color-choose input[type="radio"]:after,
.color-choose [type="radio"]:checked + label:after,
.color-choose [type="radio"]:checked + label:before,
.color-choose [type="radio"]:not(:checked) + label:before,
.color-choose input[type="radio"] {
    display: none;
}

.color-choose [type="radio"]:checked + label,
.color-choose [type="radio"]:not(:checked) + label {
    padding: 4px;
}

.color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    /*margin: -1px 4px 0 0;*/
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

.color-choose input[type="radio"]:checked + label span {
    box-shadow: 1px 1px 10px #555;
}

/*about us*/
.about_background {
    background: #ecc5ab;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contact us*/
.contact_background {
    background: #c7bae7;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #000 !important;
}

.iconRounded {
    border: 1px solid #cacaca;
    border-radius: 50%;
    padding: 8px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.optionsList li {
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.optionsList i {
    position: absolute;
    left: -15px;
    top: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.optionsList li:hover {
    font-size: 15.5px;
}

.optionsList li:hover i {
    top: 0;
}

.animationScroll,
.animationScroll h1,
.animationScroll i {
    transition: all 0.5s ease-in-out;
}

.animationScroll:hover,
.animationScroll:hover h1 {
    color: #0c5460 !important;
    transform: scale(1.1);
}

.animationScroll:hover i {
    display: none;
}

.animationIcon {
    transition: all 0.5s ease-in-out;
}

.animationIcon:hover {
    transform: scale(1.3);
}

.animationIcon:hover i[class*="fa-facebook"] {
    color: #3b5a9a !important;
}

.animationIcon:hover i[class*="fa-twitter"] {
    color: #56adf2 !important;
}

.animationIcon:hover i[class*="fa-youtube"] {
    color: #f44336 !important;
}

.animationIcon:hover i[class*="fa-instagram"] {
    color: #23272b !important;
}

.animationIcon:hover i[class*="fa-whatsapp"] {
    color: #0eb987 !important;
}

@media only screen and (max-width: 600px) {
    .slider_pagination {

        bottom: 100px;
    }

    .collection_slide {
        min-height: 200px;
    }
}

/*search input*/

.search-form {
    position: relative;
    top: 20%;
    left: 50%;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;
}

.search-option div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
}

.search-option div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
}

.search-option div span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background: #929AA3;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.search-option div span::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 4px solid #929AA3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.search-option div:hover span {
    opacity: 1;
    top: -21px;
}

.search-option div label {
    display: block;
    cursor: pointer;
}

.search-option div svg {
    height: 20px;
    width: 20px;
    fill: #5a6674;
    opacity: 0.6;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none;
}

.search-option div:hover svg {
    opacity: 1;
}

.search-option div input:checked + label svg {
    fill: #e24040;
    opacity: .9;
}

.search-option div input:checked + label span {
    background: #e24040;
}

.search-option div input:checked + label span::after {
    border-top-color: #e24040;
}

.vue-product-spinner img {
    width: 100% !important;
}

.bg-gray {
    background-color: #e4e4e4;
}

.galley_container {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 90px;
    left: 0;
    border-top: 1px dashed #2e2e2e;
}

.bg-details {
    background: #f5f5f5;
    z-index: 999999;
    top: 0;
}